.background {
  background-color: #84acbd;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30%;
  padding-bottom: 0%;
  text-align: center;
}

.content {
  margin-right: 20%;
  margin-bottom: 0%;
  margin-left: 20%;
  padding-right: 0%;
  padding-bottom: 35%;
  padding-left: 0%;
  text-align: center;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 40%;
  font-family: Exo, sans-serif;
  color: #d4f5fc;
  text-align: center;
}


.paragraph {
  margin-top: 10px;
  color: #3e606f;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 17px;
}

@media (max-width: 479px) {
  .content {
    padding-top: 30%;
    padding-bottom: 60%;
  }
}